<div class="container mt-5">
    <form #form="ngForm">
        <div class="form-row">
            <div class="col-md-12 center mb-3">
                <div class="mt-5">
                    <h3>LA PÁGINA QUE BUSCAS NO SE ENCUENTRA DISPONIBLE</h3><br>
                </div>
                <div class="mt-5">
                    <button type="submit" [routerLink]="['/login']" class="btn btn-primary">VOLVER AL LOGIN</button>
                </div>

            </div>
        </div>
    </form>
</div>